.container
{
border: 1px solid none;
border-radius: .3em;
background-color:#D3DBE7;
color:#00356F;
padding: 0.3em ;
align-items: center;
margin-bottom: 2em;
text-align: justify;
font-family:Univers Condensed;
cursor: pointer;
margin-right: 1em;
display: flex;
position: none;
line-height: auto;
padding-top: 1em;
padding-bottom: 1em;

}

.custom-control-label{

    cursor: pointer;
}

.custom-control-input:checked~.custom-control-label::before {
background-color:#6984A9 ;

} 

.custom-control-label::after {
    position: fixed;
   }



