<!-- <article class="slds-card">
  <div class="slds-card__header slds-grid">
    <header class="slds-media slds-media_center slds-has-flexi-truncate">
      <div class="slds-media__body">
        <h2 class="slds-card__header-title">
          <a href="javascript:void(0);" class="slds-card__header-link slds-truncate" title="Accounts">
            <span>{{title}}</span>
          </a>
        </h2>
      </div>
    </header>
  </div>
  <p class="slds-p-horizontal_small">
    <lib-questionnaire [qbId]="qbId"></lib-questionnaire>
  </p>
</article> -->

<!-- <div class="loading-all-pages" *ngIf="showLoader">
  <img class="loader" src="https://i.gifer.com/origin/34/34338d26023e5515f6cc8969aa027bca_w200.gif" width="80" height="80" alt="loader" />
</div> -->

<!-- <app-progress-bar  
[value]="90"
[height]="8"
[barRadius]="20"
[position]="'right'"
[radius]="20"
[barColor]="'#BBBBBB'"
[fillColor]="'#ea3223'"
></app-progress-bar>
<br>  -->

<!-- <app-file-upload [title]="" [fileSize]="3242880" [fileType]="fileTypes"  (uploaded)="handleUploadedData($event)"></app-file-upload> -->
<!-- 
<app-input [label]="'Name'" [inputType]="'text'" [validateOn]="'onfocusout'" [value]="'name'" [name]="'name'" [required]="true" (inputValue)="onNameChange($event)" (validityChange)="validation($event)"></app-input>
<br>
<br>
<app-input [label]="'Age'" [errorMessagePosition]="'top'" [inputType]="'number'" [validateOn]="'onfocusout'" [required]="true"  [value]="'20'" [readOnly]="false" [name]="'age'" [min]="1" [max]="30" (inputValue)="onAgeChange($event)"  (validityChange)="validation($event)"></app-input>
<br>
<br>
<app-input [label]="'Email'"  [inputType]="'email'" [validateOn]="'onfocusout'" [value]="'email'" [name]="'email'"  [disabled]="false" (inputValue)="onEmailChange($event)" (validityChange)="validation($event)"></app-input>
<br>
<br>
<app-input [label]="'phone'" [validateOn]="'onfocusout'"  [inputType]="'tel'" [placeholder]="'123-45-678'"  [value]="'123'" [name]="'phone'" [pattern]="'[0-9]{3}-[0-9]{2}-[0-9]{3}'" (inputValue)="onTelChange($event)" (validityChange)="validation($event)"></app-input>
<br>
<br>
<div *ngFor="let country of countries"> 
  <app-input [inputType]="'checkbox'" [label]="country.name" [validateOn]="'onInputChange'" [name]="'hobbies'" [value]="country.name" (inputValue)="checkChange($event)" (validityChange)="validation($event)"></app-input>
</div>
<br>
<br>
<div *ngFor="let country of countries"> 
  <app-input [inputType]="'radio'" [label]="country.name" [validateOn]="'onfocusout,onChange'" [name]="'hobbies'" [value]="country.name" (inputValue)="radioChange($event)" (validityChange)="validation($event)"></app-input>
</div> -->

<app-custom-dropdown [name]="'select option'" [defaultValue]="'option3'" [useNormalDropdown]="false" [options]="dropdownOptions" (selectionChanged)="slectedValue($event)"></app-custom-dropdown>
<app-custom-date-picker [minDate]="minDate" [maxDate]="maxDate" [required]="true" [placeholder]="'choose a date'"  (dateChange)="onDateChange($event)"></app-custom-date-picker>




